.header {
    padding: 200px 0;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
}

.nav-link {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 20px 50px;
    border-radius: 4px;
}

.nav-link:hover,
.nav-link:focus {
    color: antiquewhite;
    background-color: #747bff;
}